<div class="tree-greed-directive-non-editable-cell-element" ng-show="!vm.isInEditMode">Edit</div>
<div ng-show="vm.isInEditMode" class="tree-greed-directive-editable-cell-control">
	<div class="tree-greed-directive-editable-cell-element">
		Parent
		<select class="tree-greed-directive-editable-cell-element" ng-model="vm.localValue" ng-change="parentItemChanged()">
			<option ng-repeat="option in vm.localSelectValues" value="{{option.value}}">{{option.text}}</option>
		</select>
	</div>

	<div class="tree-greed-directive-editable-cell-element" ng-if="vm.localSelectChildrenValues.length > 0">
		After
		<select class="tree-greed-directive-editable-cell-element" ng-model="vm.localChildValue">
			<option ng-repeat="option in vm.localSelectChildrenValues" value="{{option.value}}">{{option.text}}</option>
		</select>
	</div>

	<button class="tree-greed-directive-editable-cell-control" ng-click="saveValueLocal()">Save</button>
</div>