<md-dialog aria-label="Edit">
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Edit</h2>
			</div>
		</md-toolbar>

		<md-dialog-content>
			<div id="editable-grid-modal-content-element" class="md-dialog-content">
				<div class="test11" ng-repeat="col in colDefinitions">
					<div ng-if="col.type === 'text'">
						<label>{{col.field}}</label>
						<input ng-model="localValues[col.field]" />
					</div>
					<div ng-if="col.type === 'select'">
						<label>{{col.field}}</label>
						<select ng-model="localValues[col.field]">
							<option ng-repeat="data in col.allowedValues" value="{{data}}">
								{{data}}
							</option>
						</select>
					</div>
				</div>
				<md-divider></md-divider>
				<div>
					<label>Parent</label>
					<select ng-model="localParentValue" ng-change="parentItemChanged()">
						<option ng-repeat="option in localSelectValues" value="{{option.value}}">{{option.text}}</option>
					</select>
				</div>
				<div ng-show="localSelectChildrenValues.length > 0">
					<label>After</label>
					<select ng-model="localChildValue">
						<option ng-repeat="option in localSelectChildrenValues" value="{{option.value}}">{{option.text}}</option>
					</select>
				</div>
			</div>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="cancel()">
				Close
			</md-button>
			<md-button ng-click="answer()">
				Save
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>